/* Dark Mode */

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar .nav-link,
body.dark-mode .navbar .navbar-brand {
    color: #ffffff;
}

body.dark-mode svg {
    fill: #ffffff; 
}

body.dark-mode h3 {
    color: #ffffff !important;
}

/* Light Mode */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .navbar .nav-link,
body.light-mode .navbar .navbar-brand {
    color: #000000;
}

body.light-mode svg {
    fill: #000000; 
}

body.light-mode h3 {
    color: #000000 !important; 
}

/* Project Card */
.project-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Image Container */
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-container img {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    width: 100%;
    height: auto;
}

.image-container:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Eye Icon */
.eye-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-container:hover .eye-icon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}

/* Footer */
footer {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Contact Info */
.contact-info {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-item i {
    font-size: 24px;
    margin-right: 10px;
}

.contact-item p {
    display: inline-block;
    margin: 0;
}

.contact-item a {
    color: inherit;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-item i.fa-envelope {
    color: #D44638;
}

.contact-item i.fa-phone {
    color: #34A853;
}

.contact-item i.fa-instagram {
    color: #E4405F;
}

.contact-item i.fa-facebook {
    color: #1877F2;
}


.contact-item i.fa-linkedin {
    color: #0077B5;
}

.contact-item i.fa-brands.fa-git {
    color: #333;
}

.contact-item i.fa-github {
    color: #333;
}


/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Carousel Item */
.carousel-item img {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
}

.custom-btn {
    padding: 12px 12px; 
    border-radius: 4px; 
    text-transform: uppercase; 
    font-weight: bold; 
    display: inline-block;
    text-align: center;
    width: auto; 
}

form {
    text-align: left; 
}

button[type="submit"] {
    text-align: left; 
    margin-left: 0; 
}

/* Education Tajmlajn */

ul.timeline-3 {
    list-style-type: none;
    position: relative;
  }
  ul.timeline-3:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-3 > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-3 > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

  .gradient-background {
    background: linear-gradient(64deg,#a116d8,#000000);
    background-size: 120% 120%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .futer-kopce {
     text-decoration: none;  
  }

  .programming-languages {
    display: flex;
    gap: 20px; 
    align-items: center;
}

.language-icon {
    width: 30px; 
    transition: transform 0.3s ease-in-out;
}

.language-icon:hover {
    transform: scale(1.1); 
}


/* SKILLS Ikonki */
.skill img {
    width: 60px; 
    height: auto;
    margin-bottom: 10px;
}
.skill-icon:hover {
    transform: scale(1.1); 
}

/* Scroll Top kopce */
.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none; 
    cursor: pointer;
    text-align: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stilovi za SVG */
.scroll-to-top-btn svg {
    width: 100%;
    height: 100%;
    fill: #000000; 
    transition: fill 0.3s ease-in-out; 
}

body.light-mode .scroll-to-top-btn svg {
    fill: #000000; 
}

body.dark-mode .scroll-to-top-btn svg {
    fill: #ffffff; 
}

/* Hover eff */
.scroll-to-top-btn:hover svg {
    fill: #ff5733; 
}

.scroll-to-top-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}


.scroll-to-top-btn.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {
    .scroll-to-top-btn {
        bottom: 20px;
        right: 20px;
    }
}


